Repository ukorvl/lightweight-charts-react-components, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, documentation, tests, examples, dependencies, core

ci: add size-limit workflow
  .github/workflows/check-changelog.yaml
  .github/workflows/size-limit.yaml
  .github/workflows/sync-labels.yaml
  examples/src/samples/Primitives/Primitives.tsx
  lib/.size-limit.ts
  package-lock.json
  package.json
Labels: ci, examples, dependencies

ci: add size-limit workflow
  .github/workflows/check-changelog.yaml
  .github/workflows/size-limit.yaml
  .github/workflows/sync-labels.yaml
  examples/src/samples/Primitives/Primitives.tsx
  lib/.size-limit.ts
  package-lock.json
  package.json
Labels: ci, examples, dependencies

chore: add readme usage examples
  lib/README.md
Labels: documentation

chore: add readme usage examples
  lib/README.md
Labels: documentation

chore: v1.0.1
  lib/CHANGELOG.md
  lib/jsr.json
  lib/package.json
  lib/src/version.ts
  package-lock.json
Labels: dependencies, core

test: add readme code snippets tests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .prettierignore
  .vscode/settings.json
  CONTRIBUTING.md
  MIGRATION.md
  SECURITY.md
  eslint.config.mjs
  lib/README.md
  lib/package.json
  lib/src/_shared/InternalError.ts
  lib/src/_shared/docsBaseUrl.ts
  lib/src/_shared/internalError.test.tsx
  lib/tests/readme/.gitignore
  lib/tests/readme/readme.test.tsx
  lib/tests/readme/setup.ts
  lib/tests/readme/utils.ts
  lib/tests/readme/vitest.config.ts
  lib/tsconfig.json
  package-lock.json
  package.json
Labels: documentation, tests, dependencies, core

test: add readme code snippets tests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .prettierignore
  .vscode/settings.json
  CONTRIBUTING.md
  MIGRATION.md
  SECURITY.md
  eslint.config.mjs
  lib/README.md
  lib/package.json
  lib/src/_shared/InternalError.ts
  lib/src/_shared/docsBaseUrl.ts
  lib/src/_shared/internalError.test.tsx
  lib/tests/readme/.gitignore
  lib/tests/readme/readme.test.tsx
  lib/tests/readme/setup.ts
  lib/tests/readme/utils.ts
  lib/tests/readme/vitest.config.ts
  lib/tsconfig.json
  package-lock.json
  package.json
Labels: documentation, tests, dependencies, core

chore: move to nodejs@24
  .github/workflows/build.yaml
  .github/workflows/deploy-examples.yaml
  .github/workflows/release.yaml
  .github/workflows/size-limit.yaml
  .nvmrc
  examples/package.json
  lib/package.json
  lib/src/markers/useMarkers.test.tsx
  lib/tests/bench/.gitignore
  lib/tests/bench/chart.bench.tsx
  lib/tests/bench/setup.ts
  lib/tests/bench/utils.ts
  lib/tests/bench/vitest.config.ts
  package-lock.json
  package.json
  scripts/check-md-links.ts
Labels: ci, tests, examples, dependencies, core

test: add benchmark test and workflow integration
  .github/actions/bench/action.yaml
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .prettierignore
  eslint.config.mjs
  examples/package.json
  lib/tests/bench/.gitignore
  lib/tests/bench/chart.bench.tsx
  lib/tests/bench/convert-benchmark.mts
  lib/tests/bench/utils.ts
  lib/tests/bench/vitest.config.ts
  lib/tests/tsconfig.json
  package-lock.json
  package.json
  scripts/check-md-links.mts
  scripts/check-md-links.ts
Labels: ci, examples, dependencies

chore: apply new import rules
  eslint.config.mjs
  examples/src/samples/BasicSeries/BasicSeries.tsx
  examples/src/samples/BasicSeries/basicSeriesStore.ts
  examples/src/samples/CompareSeries/CompareSeries.tsx
  examples/src/samples/CompareSeries/compareSeriesStore.ts
  examples/src/samples/CustomSeries/CustomSeries.tsx
  examples/src/samples/InfiniteData/InfiniteData.tsx
  examples/src/samples/Legend/WithLegend.tsx
  examples/src/samples/Legend/useLegend.ts
  examples/src/samples/Markers/Markers.tsx
  examples/src/samples/Panes/Panes.tsx
  examples/src/samples/PriceLines/PriceLines.tsx
  examples/src/samples/Primitives/Primitives.tsx
  examples/src/samples/RangeSwitcher/RangeSwitcher.tsx
  examples/src/samples/Scales/Scales.tsx
  examples/src/samples/Tooltips/Tooltips.tsx
  examples/src/samples/Tooltips/hooks.ts
  examples/src/samples/Watermark/Watermark.tsx
  examples/src/samples/Watermark/watermarkStore.tsx
Labels: examples

chore: add .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

ci: map becnhmark output to workflow compatible
  .github/actions/bench/action.yaml
  .github/workflows/build.yaml
  lib/tests/bench/utils.ts
  lib/tests/bench/vitest.config.ts
  package.json
  scripts/convert-benchmark.mts
Labels: ci, dependencies

chore: minor example app improvements
  eslint.config.mjs
  examples/package.json
  examples/src/App.tsx
  examples/src/common/generateSeriesData.ts
  examples/src/samples/BasicSeries/sandbox/package.json
  examples/src/samples/Legend/useLegend.ts
  examples/src/samples/Panes/panesData.ts
  examples/src/samples/Panes/sandbox/package.json
  examples/src/samples/Primitives/Primitives.tsx
  examples/src/samples/Primitives/useTooltip.ts
  examples/src/samples/Scales/Scales.tsx
  examples/src/samples/Tooltips/Tooltips.tsx
  examples/src/theme.ts
  examples/src/ui/ChartWidgetCard.tsx
  examples/vite.config.ts
  lib/src/scales/usePriceScale.ts
  lib/src/series/useSeries.ts
  package-lock.json
Labels: examples, dependencies, core

chore: minor example app improvements
  eslint.config.mjs
  examples/package.json
  examples/src/App.tsx
  examples/src/common/generateSeriesData.ts
  examples/src/samples/BasicSeries/sandbox/package.json
  examples/src/samples/Legend/useLegend.ts
  examples/src/samples/Panes/panesData.ts
  examples/src/samples/Panes/sandbox/package.json
  examples/src/samples/Primitives/Primitives.tsx
  examples/src/samples/Primitives/useTooltip.ts
  examples/src/samples/Scales/Scales.tsx
  examples/src/samples/Tooltips/Tooltips.tsx
  examples/src/theme.ts
  examples/src/ui/ChartWidgetCard.tsx
  examples/vite.config.ts
  lib/src/scales/usePriceScale.ts
  lib/src/series/useSeries.ts
  package-lock.json
Labels: examples, dependencies, core

test: minor e2e changes
  eslint.config.mjs
  examples/.gitignore
  examples/package.json
  examples/playwright.config.ts
  examples/tests/e2e/main.spec.ts
  examples/tsconfig.json
  package-lock.json
Labels: tests, examples, dependencies

.github/labeler.yaml:

# This file is used by actions/labeler to automatically label pull requests.

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - .github/labeler.yaml
      - .github/labels.yaml

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/README.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/*.test.tsx'
      - '**/*.spec.tsx'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - 'package-lock.json'

core:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/src/**'
